@import "../../../styles/colors/colors.module";
@import "../../../styles/mixins/_hover.module";

.modalHeader {
	padding: 8px 16px;
	background-color: $light;
	border-bottom: 1px solid $contentHeaderBorder;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modalHeader_closeButton {
	padding: 5px;
	border-radius: 50%;
	cursor: pointer;

	@include hover {
		background-color: $disabled;
	}
}

.modalHeader_closeButton_wrapper {
	display: flex;
}

