.languageBar {
	display: flex;
	justify-content: space-between;
	width: 100px;
}

.languageBar__item {
	font-size: 14px;
	cursor: pointer;
}

.languageBar__item:hover {
	text-decoration: underline;
}

.languageBar__item_active {
	font-weight: bold;
	text-decoration: underline;
}

@media (max-width: 575.98px) {
	.languageBar {
		position: fixed;
		margin-bottom: 40px;
		bottom: 0;
	}
}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {

}
