.contactDetailPageRightSide {
	flex: 1 1 50%;
}

.contactDetailPageRightSide__form {
	width: 520px;
	margin-bottom: 100px;
}

.navigationMenuContentLeft__footerDepartmentList {
	position: fixed;
	bottom: 60px;
}
