.contactDetailPageRightSide__form {
	width: 520px;
	margin-bottom: 58px;
}

.contactDetailPageRightSide {
	width: 100%;
	z-index: 1;
}

@media (max-width: 575.98px) {
	.contactDetailPageRightSide {
		width: 100%;
	}

	.contactDetailPageRightSide__form {
		width: 100%;
		margin-bottom: 60px;
	}

	.navigationMenuContentLeft__formButton {
		width: 100%;
		box-sizing: border-box;
		text-align: center;
	}
}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {

}
