@import "../../../styles/colors/colors.module";
@import "../../../styles/mixins/_transition.module";

.textarea {
	padding: 16px 0;
	font-size: .95rem;
	line-height: 1.5;
	background-color: transparent;
	box-sizing: border-box;
	position: relative;
	border: none;
	width: 100%;
	height: 55px;
	resize: none;
	color: $light;
	overflow: hidden;
	outline: none !important;

	@include transition(height .2s);
}

.textarea__focus {
	height: 70px;
}

input.textarea:focus {
	outline: none !important;
}
