.navigationMenuLanguageBar {
	display: flex;
	justify-content: space-between;
	width: 100px;
	margin-bottom: 85px;
}

.navigationMenuLanguageBar__item {
	font-size: 14px;
	cursor: pointer;
}

.navigationMenuLanguageBar__item:hover {
	text-decoration: underline;
}

.navigationMenuLanguageBar__item_active {
	font-weight: bold;
	text-decoration: underline;
}

@media (max-width: 575.98px) {
	.navigationMenuLanguageBar {
		position: fixed;
		margin-bottom: 24px;
		bottom: 0;
	}
}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {

}
