@import "../../../../../styles/colors/colors.module";

.contactDetailPageLeftSide {
	margin-left: 95px;
}

.contactDetailPageLeftSide__headLabel {
	font-size: 64px;
	color: $gold;
	font-family: CormorantGaramond;
	font-style: normal;
	font-weight: 600;
	margin-bottom: 32px;
}

.contactDetailPageLeftSide__headLabel::first-letter {
	text-transform: uppercase;
}

.contactDetailPageLeftSide__text {
	margin-bottom: 36px;
	letter-spacing: 0.04em;
	font-style: normal;
	font-weight: normal;
	line-height: 24px;
	font-size: 20px;
	width: 290px;
}

@media (max-width: 575.98px) {
	.contactDetailPageLeftSide {
		margin-bottom: 24px;
		margin-left: 0;
	}

	.contactDetailPageLeftSide__headLabel {
		font-size: 48px;
		margin-bottom: 16px;
	}

	.contactDetailPageLeftSide__text {
		margin-bottom: 32px;
	}
}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {

}
