@import "../../../../../styles/colors/colors.module";

.footerMobileContactUs {
	font-size: 38px;
	line-height: 1.1;
	margin-bottom: 56px;
	font-family: CormorantGaramond;
}

.footerMobileContactUs__yesText {
	color: $gold;
}
