// layout colors

$navBackGround: #242e3e;
$navActiveBackGround: #1d2431;
$controlBackGround: #eff3f6;
$layout_section_bg: #b6c7cf;

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
$disabled: #bdc1c5;

$all_shadow_tooltip: 0 0 10px 5px rgba(0,0,0,0.06);
