@import "../../../../../styles/colors/colors.module";

.footerDepartmentListItem {
	margin-left: 90px;
}

.footerDepartmentListItem:first-child {
	margin-left: 0;
}

.footerDepartmentListItem_contactPage {
	margin-right: 110px;
}

.footerDepartmentListItem__label_contactPage {
	margin-bottom: 8px;
}

.footerDepartmentListItem__label_contactPage:hover {
	color: $gold;
	cursor: pointer;
}

.footerDepartmentListItem__phone {
	margin-top: 6px;
	margin-bottom: 6px;
}

.footerDepartmentListItem__label {
	margin-bottom: 24px;
	font-weight: 600;
}

.footerDepartmentListItem__label:hover {
	color: $gold;
	cursor: pointer;
}

.footerDepartmentListItem__geoPosition {
	display: flex;
	margin-top: 16px;
}

.footerDepartmentListItem__geoPositionLabel {
	color: $gold;
	margin-right: 7px;
}

@media (max-width: 575.98px) {
	.footerDepartmentListItem_contactPage {
		margin-right: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 32px;
	}
}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {

}
