@import "../../../../../styles/colors/colors.module";

.footerDepartmentListItem {
	margin-right: 120px;
}

.footerDepartmentListItem_contactPage {
	margin-right: 110px;
}

.footerDepartmentListItem__phone {
	margin-top: 6px;
	margin-bottom: 6px;
}

.footerDepartmentListItem__label {
	margin-bottom: 24px;
}

.footerDepartmentListItem__label:hover {
	color: $gold;
	cursor: pointer;
}

.footerDepartmentListItem__geoPosition {
	display: flex;
	margin-top: 16px;
}

.footerDepartmentListItem__geoPositionLabel {
	color: $gold;
	margin-right: 7px;
}

@media (max-width: 575.98px) {
	.footerDepartmentListItem_contactPage {
		margin-right: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 32px;
	}
}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {

}
