.mainPageFooter {
	position: absolute;
	bottom: 0;
	width: calc(100% - 60px);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mainPageFooter__leftSide {
	display: flex;
	width: 365px;
	margin: 80px 0;
	position: relative;
}

.mainPageFooter__rightSide {
	margin: 0 20px;
}

.mainPageFooter__bookingText {
	font-family: CormorantGaramond;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 1px;
}

.mainPageFooter__bookingRoundText {
	position: absolute;
	top: -30px;
	right: -46px;

	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;

	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
}

//@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
//@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
//@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@media (max-width: 355.98px) {
	.mainPageFooter__bookingText {
		font-size: 24px;
		max-width: 230px;
	}

	.mainPageFooter__bookingRoundText {
		right: 0 !important;
		top: -20px !important;
	}

	.mainPageFooter__scissors {
		position: absolute;
		right: 45px !important;
		top: 20px !important;
	}
}

@media (max-width: 575.98px) {
	.mainPageFooter {
		position: initial;
		display: block;
		width: 100%;
	}

	.mainPageFooter__bookingRoundText {
		right: 10px;
		top: -20px;
		letter-spacing: 0;
	}

	.mainPageFooter__scissors {
		position: absolute;
		right: 55px;
		top: 16px;
	}

	.mainPageFooter__leftSide {
		width: 100%;
		margin: 60px 0 60px 0;
	}

	.mainPageFooter__rightSide {
		margin: 0 0 24px;
	}
}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {

}
