.mainPageFooter {
	position: absolute;
	bottom: 0;
	width: calc(100vw - 60px);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mainPageFooter__leftSide {
	display: flex;
	width: 350px;
	margin: 80px 0;
}

.mainPageFooter__rightSide {
	margin: 0 60px;
}

.mainPageFooter__instagramLink {
	margin-left: 32px;
}

.mainPageFooter__bookingText {
	letter-spacing: -1px;
}
