@import "../../../styles/colors/colors.module";
@import "../../../styles/mixins/_transition.module";

.navigationMenuContentWrapperMobile {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	display: flex;
	z-index: 2;
	overflow-x: scroll;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: $metro_bg_color;
	background-image: url('../../../../static/images/employeeFormBg.png');

}

.navigationMenuContentWrapperMobile_zIndex {
	z-index: 9999;
}

.navigationMenuContentWrapperMobile__open {
	right: 0;
}

.navigationMenuContentWrapperMobile__close {
	right: -10000px;
}
