.feedbacksGallery {
	display: flex;
}

.feedbacksGallery-item__text {
	font-size: 32px;
	letter-spacing: -1px;
	width: 750px;
	margin-bottom: 30px;
	line-height: 1.3;
	font-weight: bold;
}

.feedbacksGallery-item__imageWrapper {
	display: flex;
	align-items: center;
}

.feedbacksGallery-item__image {
	object-fit: cover;
	height: 90px;
	width: 90px;
	border-radius: 50%;
	display: block;
	margin-right: 16px;
}

.feedbacksGallery-item__name {
	font-family: Manrope;
	font-style: normal;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.feedbacksGallery-item__link {
	text-transform: uppercase;
}

.galleryDuplicateContainer {
	display: flex;
	justify-content: space-between;
}
.galleryDuplicateContainer .galleryDuplicateContainer__item {
	width: 370px !important;
}

.galleryDuplicateContainer .feedbacksGallery-item__text {
	width: 350px !important;
	height: 130px;
	font-size: 20px;
	overflow: hidden;
	display: block;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	font-weight: normal;
	-webkit-box-orient: vertical;
}

@media (max-width: 575.98px) {
	.feedbacksGallery-item.item__active {
		margin-right: 10vw;
	}

	.feedbacksGallery-item.item__active-prev {
		opacity: 0;
	}

	.feedbacksGallery-item__text {
		font-size: 24px;
		width: 85vw;
		margin-bottom: 30px;
	}

	.feedbacksGallery-item__image {
		height: 70px;
		width: 70px;
	}

	.galleryDuplicateContainer .galleryDuplicateContainer__item {
		width: 320px !important;
	}

	.galleryDuplicateContainer .feedbacksGallery-item__text {
		width: 290px !important;
		margin-right: 20px;
	}

	.feedbacksGallery-item__name {
		font-size: 16px;
	}
}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {

}
