@import "../../../../../styles/colors/colors.module";
@import "../../../../../styles/mixins/_transition.module";

.navigationMenuButtonIcon__stripWrapper {
	position: absolute;
	right: 24px;
	z-index: 1000;
}

.navigationMenuButtonIcon__topStrip {
	width: 30px;
	height: 2px;
	background-color: $light;
	margin-bottom: 12px;

	@include transition(transform .2s, background-color .2s)
}

.navigationMenuButtonIcon__topStrip_open {
	transform: rotate(45deg);
	margin-bottom: -2px;
}

.navigationMenuButtonIcon__downStrip {
	width: 30px;
	height: 2px;
	background-color: $light;

	@include transition(transform .2s, background-color .2s)
}

.navigationMenuButtonIcon__downStrip_open {
	transform: rotate(-45deg);
}

.navigationMenuButtonIcon__MiddleStrip {
	width: 30px;
	height: 2px;
	background-color: $light;
	position: absolute;
	top: 7px;
	right: 0;

	@include transition(right .2s)
}

.navigationMenuButtonIcon__MiddleStrip_open {
	right: -2000px;
}
