@import "../../../../../styles/mixins/_transition.module";
@import "../../../../../styles/colors/colors.module";

.navigationMenuListItem {
	display: flex;
	cursor: pointer;
	margin-bottom: 40px;

	@include transition (color .3s);
}

.navigationMenuListItem:hover {
	color: $gold;
}

.navigationMenuListItem__label {
	font-size: 82px;
	letter-spacing: -1px;
	font-style: normal;
	font-weight: normal;
	font-family: Nocturne;
}

.navigationMenuListItem__label::first-letter {
	text-transform: uppercase;
}

.navigationMenuListItem__index {
	margin-right: 16px;
	margin-top: 7px;
	font-size: 18px;
	opacity: .4;
	letter-spacing: -0.005em;
}

@media (max-width: 575.98px) {
	.navigationMenuListItem__label {
		font-size: 56px;
	}
}
