@import "../../../../../styles/colors/colors.module";

.navigationMenuList {
	height: 100vh;
	width: 100%;
	padding: 35px 45px 0 45%;
	display: flex;
	flex-direction: column;
	background-image: url('../../../../../../static/images/menuBg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: $metro_bg_color;
}

.navigationMenuList__wrapper {
	//max-height: 70vh;
	//overflow-y: scroll;
}

.navigationMenuList__closeButton {
	cursor: pointer;
	letter-spacing: 1px;
}

.navigationMenuList__closeButton:hover {
	color: $gold;
}

.navigationMenuList__closeButton_mobile {
	margin-top: 15px;
}

.navigationMenuList__topBar {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}

.navigationMenuList__feedbackButtonWrapper {
	margin-top: -3px;
}

.navigationMenuList__feedbackButton {
	text-transform: uppercase;
	position: relative;
}

.navigationMenuList__feedbackButton:after {
	content: '';
	display: block;
	position: absolute;
	border-bottom: 1px solid $gold;;
	bottom: -15px;
	width: 100%;
}

.navigationMenuList__languageBar {
	margin-top: 50px;
}

@media (max-width: 575.98px) {
	.navigationMenuList {
		padding: 24px;
		background-image: url('../../../../../../static/images/menuBg_mobile.png');
	}

	.navigationMenuList__closeButton {
		display: none;
	}

	.navigationMenuList__topBar {
		//margin-bottom: 80px;
		margin-bottom: 10%;
	}
}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {

}
