.navigationMenuList {
	height: 100%;
	width: 100%;
	padding: 45px 45px 0 45%;
	display: flex;
	flex-direction: column;
}

.navigationMenuList__closeButton {
	cursor: pointer;
}

.navigationMenuList__topBar {
	display: flex;
	justify-content: space-between;
}
