@import "../../../../../styles/colors/colors.module";
@import "../../../../../styles/mixins/transition.module";

.detailPageStaffListItem {
	display: block;
	width: 322px;
	height: 440px;
	margin: 0 auto 110px;
}

.detailPageStaffListItem:hover {
	cursor: pointer;
}

.detailPageStaffListItem__image {
	margin-bottom: 16px;
}

.detailPageStaffListItem__name {
	color: $gold;
}

.detailPageStaffListItem__instaIcon {
	margin-left: 8px;
}

.detailPageStaffListItem__description {
	opacity: .6;
	margin-bottom: 28px;
}

.detailPageStaffListItem__signInButton {
	text-align: center;
	display: block;
	text-transform: uppercase;
	font-size: 14px;
	padding-bottom: 16px;
	border-bottom: 1px solid $gold;
}

.detailPageStaffListItem__signInButton:hover {
	color: $gold;
}

@media (max-width: 575.98px) {

}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {
	.detailPageStaffListItem {
		width: 320px!important;
	}
}

@media (max-width: 1199.98px) {
	.detailPageStaffListItem {
		width: 400px;
	}
}
