@import "../../../../../styles/mixins/transition.module";

.detailPageStaffList {
	margin-top: 60px;
	//display: flex;
	//flex-wrap: wrap;
	//justify-content: space-between;
	opacity: 1;
	filter: alpha(opacity=0);

	//&:after {
	//	content: "";
	//	width: 315px
	//}

	@include transition(opacity .4s ease-in-out);
}

.detailPageStaffList__transparent {
	opacity: 0;
	position: fixed;
	right: -9999px;
}

.detailPageStaffList__displayNone {
	display: none;
}

.detailPageStaffList div:nth-last-child(-n+1) {
	//margin-right: auto;
	//margin-left: 2%;
}
