@import "../../../../../styles/colors/colors.module";

.detailPageStaffList__header {
	color: $gold;
	font-size: 102px;
	font-family: Nocturne Serif;
	font-style: normal;
	font-weight: normal;
	display: block;
	text-align: center;
	margin-bottom: 30px;
}

