@import "../../../../../styles/colors/colors.module";

.mobileStaffGallery {
	display: flex;
}

.mobileStaffGallery-item {
	height: 580px;
	width: 81vw;
	display: block;
}

.mobileStaffGallery-item__image {
	object-fit: cover;
	height: 420px;
	width: 95%;
	margin-right: 25px;
}

.mobileStaffGallery-item__name {
	color: $gold;
	font-size: 20px;
	display: flex;
	align-items: center;
}

.mobileStaffGallery-item__description {
	opacity: 0.6;
	font-size: 16px;
	margin-bottom: 26px;
}

.mobileStaffGallery-item__reserve-button {
	font-size: 14px;
	text-transform: uppercase;
	padding-bottom: 22px;
	border-bottom: 1px solid $gold;
	text-align: center;
	width: 77vw;
}

.mobileStaffGallery-item__insta-image {
	margin-left: 5px;
}
