@import "../../../styles/colors/colors.module";

.detailPage__header {
	margin-bottom: 50px;
	padding: 0 95px;
	align-items: flex-start;
}

.detailPage__headerRight {
	margin-left: -12px;
}

.detailPage__bookButton {
	margin-top: 32px;
}

.detailPage__phone {
	margin-top: 8px;
}

.detailPageHeaderList__header {
	color: $gold;
	font-size: 102px;
	font-family: CormorantGaramond;
	font-style: normal;
	font-weight: 600;
	display: block;
	margin-left: 95px;
	margin-bottom: 50px;
}

.detailPage__image {
	display: block;
	box-sizing: border-box;
	margin-bottom: 34px;
}

@media (max-width: 575.98px) {
	.detailPage__header {
		width: auto;
		display: block;
		padding: 0;
	}

	.detailPage__image {
		width: 130% !important;
		margin: 0 -24px 22px;
	}

	.detailPage__headerRight {
		margin: 32px 0 0;
		width: auto;
	}

	.detailPageHeaderList__header {
		font-size: 55px;
		margin-top: 60px;
		margin-bottom: 40px;
		margin-left: 0;
	}
}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {

}
