@import "../../../styles/mixins/transition.module";

.mainPageGallery {
	position: relative;
	height: 400px;
}

.mainPageGallery-item {
	height: 400px;
	width: 100%;
	position: absolute;
	opacity: 0;
	object-fit: cover;

	@include transition(opacity 1s)
}

.item__active {
	opacity: 1;
	z-index: 1;
}

@media (max-width: 575.98px) {
	.mainPageGallery-item {
		height: 366px;
	}
}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {

}
