@import "../../../../../styles/colors/colors.module";

.navigationMenuContentLeft {
	flex: 1 1 45%;
	min-width: 400px;
	background: $metro_bg_color;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.navigationMenuContentLeft__content {
	width: 70%;
	margin: 290px auto 0;
}

.navigationMenuContentLeft__header {
	letter-spacing: -1px;
	margin-bottom: 40px;
	display: block;
}

.navigationMenuContentLeft__button {
	font-size: 12px;
	float: right;
}
