@import "../../../styles/colors/colors.module";

.navigationMenuMobile {
	display: flex;
	margin-top: -11px;
	position: relative;
}

.navigationMenuMobile__signInButton {
	margin-right: 54px;
	line-height: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
	position: relative;
}


.navigationMenuMobile__signInButton:after {
	content: '';
	display: block;
	position: absolute;
	border-bottom: 1px solid $gold;;
	bottom: -18px;
	width: 100%;
}
