@import "../../../styles/colors/colors.module";

.tooltip {
	cursor: pointer;
}

.tooltip_defaultIcon {
	font-size: 16px;
	cursor: pointer;
	color: $gray;
}

.tooltip_defaultIcon__danger {
	color: $danger;
}
