@import "../../../styles/colors/colors.module";
@import "../../../styles/mixins/_transition.module";
@import "../../../styles/mixins/_hover.module";
@import "../../../styles/mixins/_bg-color.module";

.tooltipActionListItem {
	padding: 8px;
	border-bottom: 1px solid $secondary;
	cursor: pointer;

	@include hover {
		@include bg-color(lighten($gray, 40%));
	};

	@include transition(background-color .3s);
}

.tooltipActionListItem_icon {
	margin-right: 4px;
}

.tooltipActionListItem_iconDisabled {
	color: $disabled !important;
}

.tooltipActionListItem:last-child {
	border-bottom: none;
}

.tooltipActionListItem_disabled {
	cursor: not-allowed;
	color: $disabled;

	@include hover {
		background-color: inherit !important;
	};
}
