@import "../../../../../styles/colors/colors.module";
@import "../../../../../styles/mixins/transition.module";

.assistanceListItem  {
	cursor: pointer;
	position: relative;
	z-index: 1;
}

.assistanceListItem:last-child .assistanceListItem__leftSide {
	border: none;
}

.assistanceListItem:hover {
	padding: 30px 0;
	.assistanceListItem__price {
		color: $light;
	}

	.assistanceListItem__name, .assistanceListItem__index {
		color: $light;
	}

	.assistanceListItem__image {
		opacity: .4;
	}

	.assistanceListItem__description {
		display: flex;
	}

	.assistanceListItem__leftSide {
		border-bottom: none;
		padding: 0;
	}
}

.assistanceListItem__leftSide {
	display: flex;
	padding: 30px 0;
	justify-content: space-between;
	align-items: center;
	margin-left: 45%;
	width: 50%;
	border-bottom: 1px solid rgba(217, 217, 220, 0.3);
}

.assistanceListItem__nameWrapper {
	display: flex;
	align-items: center;
}

.assistanceListItem__name {
	font-size: 28px;
	letter-spacing: -1px;
	color: $placeholder;
	font-family: Nocturne;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;

	@include transition(color .2s, font-weight .2s)
}

.assistanceListItem__description {
	display: none;
	margin: 16px 110px 32px 48%;
	opacity: .8;
}

.assistanceListItem__description:after {
	content: '';
	width: 50%;
	height: 1px;
	background-color: #d9d9dc;
	display: block;
	position: absolute;
	bottom: 32px;
	left: 45%;
}

.assistanceListItem__index {
	margin-right: 35px;
	margin-bottom: 12px;
	color: $placeholder;
	font-size: 16px;
	letter-spacing: -0.005em;

	@include transition(color .2s)
}

.assistanceListItem__price {
	letter-spacing: -1px;
	font-size: 18px;
	color: $placeholder;

	@include transition(margin .2s, font-weight .2s)
}

.assistanceListItem__image {
	position: absolute;
	z-index: -1;
	width: 100% !important;
	opacity: 0;
	top: 0;

	@include transition(opacity .5s)
}

@media (max-width: 575.98px) {
	.assistanceListItem {
		margin: 0 24px;
	}

	.assistanceListItem__name {
		font-size: 20px;
		color: $light;
		opacity: .8;
	}

	.assistanceListItem:first-child .assistanceListItem__leftSide {
		padding-top: 0;
	}

	.assistanceListItem__leftSide {
		margin-left: 0;
		padding: 16px 0;
		width: 100%;
	}

	.assistanceListItem__index {
		margin-right: 10px;
		margin-bottom: 5px;
		font-size: 10px;
	}

	.assistanceListItem__price {
		color: $gold;
		font-size: 20px;
	}

	.assistanceListItem:hover {
		.assistanceListItem__image {
			opacity: 0;
		}
	}
}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {

}
