@import "../../styles/colors/colors.module";

.app {
	overflow-x: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: $metro_bg_color;
}

.mainPageBg {
	background-image: url('../../../static/images/mainPageBg.png');
}

.assistancePageBg {
	background-image: url('../../../static/images/assistanceBg.png');
}

.assistancePageBg__mobile {
	background-image: url('../../../static/images/assistanceBg_mobile.png');
}

.departmentPageBg {
	background-image: url('../../../static/images/departmentsBg.png');
}

.departmentPageBg__mobile {
	background-image: url('../../../static/images/departmentsBg_mobile.png');
}

.feedbacksPageBg {
	background-image: url('../../../static/images/feedbacksBG.png');
}

.feedbacksPageBg__mobile {
	background-image: url('../../../static/images/feedbacksBG_mobile.png');
}

.contactsPageBg {
	background-image: url('../../../static/images/contactBg.png');
}

.app__content {
	min-height: 100vh;
	color: $light;
	font-weight: normal;
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
	padding: 0 40px;
	box-sizing: border-box;
}

@media (max-width: 575.98px) {
	.app__content {
		padding: 0 24px;
	}
}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {

}
