.departmentsListItem {
	width: 33.333%;
	cursor: pointer;
	opacity: .85;

	transition: opacity .2s;

	margin-bottom: 8px;
}

.departmentsListItem:hover {
	opacity: 1;
}

.departmentsListItem__inner {
	padding: 4px;
}

