.logo {
	display: flex;
}

.logo__column {
	flex-direction: column;
}

.logo__text {
	margin-left: 12px;
	margin-top: 6px;
	font-family: Nocturne;
	font-style: normal;
	font-weight: normal;

	p {
		margin: 0;
	}
}
