.contactDetailPage {
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
	padding-left: 110px;
}

@media (max-width: 575.98px) {
	.contactDetailPage {
		margin-top: 40px;
		display: block;
		padding-left: 0;
	}
}

@media (max-width: 767.98px) {

}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {

}
