@import "../../../../../styles/colors/colors.module";

.generalUploaderDragDrop {
	min-height: 190px;
	text-align: center;
	border: 1px dashed $secondary;
	border-radius: 3px;
	font-size: 24px;
	position: relative;
	margin-bottom: 8px;
	transition: background-color .3s;
	padding: 16px;
}

.generalUploaderDragDrop_innerContent {
	text-align: center;
}

.generalUploaderDragDrop__onDragIn {
	background-color: lighten($gray, 30);
}

.generalUploaderDragDrop_uploadIcon {
	font-size: 100px;
	display: block;
	transition: transform .4s;
	transform: rotate(0deg);
	margin: 24px auto 0;
}

.generalUploaderDragDrop_uploadIcon__onDragIn {
	transform: rotate(-180deg);
}
