@import "../../../../../styles/colors/colors.module";
@import "../../../../../styles/mixins/_hover.module";
@import "../../../../../styles/mixins/_bg-color.module";
@import "../../../../../styles/mixins/_transition.module";

.generalUploaderItem {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid $secondary;
	cursor: pointer;

	@include transition(background-color .3s);
	@include hover {
		background-color: lighten($secondary, 50%);
	};
}

.generalUploaderItem:last-child {
	border-bottom: none;
}

.generalUploaderItem_extension {
	color: lighten($gray, 15%);
	font-size: 12px;
}

.generalUploaderItem_editMode {
	background-color: lighten($secondary, 5%);
}

.generalUploaderItem_input {
	width: 75%;
	margin-right: 4px;
}
