@import "../../../../../styles/mixins/_box-shadow.module";
@import "../../../../../styles/colors/colors.module";

.departmentAddSelectedMedia {
	padding: 4px;
	margin: 4px;
	width: 200px;
	position: relative;

	@include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
}

.departmentAddSelectedMedia img	{
	width: 200px;
	height: 200px;
	object-fit: cover;
}

.departmentAddSelectedMedia__deleteIcon {
	color: lighten($danger, 15%);
	font-size: 26px;
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
	transition: color .3s;

	:hover {
		color: $danger;
	}
}
