@import "../../../../../styles/mixins/_box-shadow.module";
@import "../../../../../styles/colors/colors.module";

.departmentAddSelectedMedia {
	width: 200px;
	position: relative;
}

.departmentAddSelectedMedia__deleteIcon {
	color: lighten($danger, 15%);
	font-size: 26px;
	position: absolute;
	right: 0;
	top: 8px;
	cursor: pointer;
	transition: color .3s;

	:hover {
		color: $danger;
	}
}
