@import "../../../../../styles/colors/colors.module";
@import "../../../../../styles/mixins/_transition.module";
@import "../../../../../styles/mixins/_hover.module";

.departmentAddMediaButton {
	text-align: center;
	width: 70px;
	height: 70px;
	border: 1px solid $disabled;
	border-radius: 4px;
	font-size: 20px;
	color: $gray;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	@include transition(background-color .3s);
	@include hover {
		background-color: lighten($gray, 45%)
	}
}

.departmentAddMediaButton__noSelectedMedia {
	border-color: $danger;
	color: $danger;
	background-color: lighten($danger, 35%);

	@include hover {
		background-color: lighten($danger, 30%)
	}
}
