@import "../../../styles/colors/colors.module";
@import "../../../styles/mixins/_box-shadow.module";
@import "../../../styles/mixins/_bg-color.module";

.overlay_cloak {
	transition: background-color .3s ease-out;
}

.overlay_cloak__show {
	width: 100vw;
	height: 100vh;
	top: 0;
	position: absolute;
	z-index: 1;
}

.overlay_cloak__collapsed {
	margin-left: -60px;
}

.overlay_cloak__appeared {
	background-color: rgba(0,0,0, .3);
}
